@page "/human/persons"
@attribute [Authorize(Policy = Permissions.Persons.View)]
@inject Microsoft.Extensions.Localization.IStringLocalizer<Persons> _localizer
@using ArdaManager.Application.Features.Persons.Queries.GetAllPaged;

<style>
    .mud-table-container {
        overflow: auto;
    }
</style>

<HeroTitle Title="@_localizer["Persons"]" Description="@_localizer["Manage Persons."]" />
@if (!_loaded)
{
    <MudProgressCircular Color="Color.Primary" Indeterminate="true" />
}
else
{


    <MudTable Elevation="25" ServerData="@(new Func<TableState, Task<TableData<GetAllPagedPersonsResponse>>>(ServerReload))" Hover="true" Dense="true" Bordered="true" Striped="true" @ref="_table">
            <ToolBarContent>
                <div class="justify-center mud-text-align-center">
                @if (_canCreatePersons)
                {
                    <MudButton DisableElevation Variant="MudBlazor.Variant.Filled" Color="Color.Primary" @onclick="@(() => InvokeModal(0))" StartIcon="@Icons.Material.Filled.Add" IconColor="Color.Surface">@_localizer["Create"]</MudButton>
                    <MudButton DisableElevation Variant="MudBlazor.Variant.Filled" OnClick="@(() => OnSearch(""))" StartIcon="@Icons.Material.Filled.Refresh" IconColor="Color.Surface" Color="Color.Secondary">@_localizer["Reload"]</MudButton>
                    @if (_canExportPersons)
                    {
                        <MudButton DisableElevation Variant="MudBlazor.Variant.Filled" OnClick="ExportToExcel" StartIcon="@Icons.Custom.FileFormats.FileExcel" IconColor="Color.Secondary" Color="Color.Surface" Style="margin-left: 5px;">@_localizer["Export"]</MudButton>
                    }
                }
                else
                {
                    <MudButton DisableElevation Variant="MudBlazor.Variant.Filled" OnClick="@(() => OnSearch(""))" StartIcon="@Icons.Material.Filled.Refresh" IconColor="Color.Surface" Color="Color.Secondary">@_localizer["Reload"]</MudButton>
                    @if (_canExportPersons)
                    {
                        <MudButton DisableElevation Variant="MudBlazor.Variant.Filled" OnClick="ExportToExcel" StartIcon="@Icons.Custom.FileFormats.FileExcel" IconColor="Color.Secondary" Color="Color.Surface" Style="margin-left: 5px;">@_localizer["Export"]</MudButton>
                    }
                }
            </div>
            <MudSpacer />
            @if (_canSearchPersons)
            {
                <MudTextField T="string" ValueChanged="@(s=>OnSearch(s))" Placeholder="@_localizer["Search"]" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
            }
        </ToolBarContent>
        <HeaderContent>
            <MudTh><MudTableSortLabel T="GetAllPagedPersonsResponse" SortLabel="Code">@_localizer["Code"]</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel T="GetAllPagedPersonsResponse" SortLabel="Name">@_localizer["Full Name"]</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel T="GetAllPagedPersonsResponse" SortLabel="Category">@_localizer["Category"]</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel T="GetAllPagedPersonsResponse" SortLabel="Description">@_localizer["Description"]</MudTableSortLabel></MudTh>
            <MudTh Style="text-align:right">@_localizer["Actions"]</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Code">
                <MudHighlighter Text="@context.Code" HighlightedText="@_searchString" />
            </MudTd>
            <MudTd DataLabel="Name">
                <MudHighlighter Text="@context.FullName" HighlightedText="@_searchString" />
            </MudTd>
            
            
            <MudTd DataLabel="Category">
                <MudHighlighter Text="@context.CategoryName" HighlightedText="@_searchString" />
            </MudTd>
            <MudTd DataLabel="Description">
                <MudHighlighter Text="@context.Description" HighlightedText="@_searchString" />
            </MudTd>
            
            <MudTd DataLabel="Actions" Style="text-align: right">
                @if (_canEditPersons || _canDeletePersons)
                {
                    <MudMenu Label="@_localizer["Actions"]" Variant="MudBlazor.Variant.Filled" DisableElevation="true" EndIcon="@Icons.Filled.KeyboardArrowDown" IconColor="Color.Secondary" Direction="Direction.Left" OffsetX="true">
                        @if (_canEditPersons)
                            {
                            <MudMenuItem @onclick="@(() => InvokeModal(@context.Id))">@_localizer["Edit"]</MudMenuItem>
                            }
                        @if (_canDeletePersons)
                            {
                            <MudMenuItem @onclick="@(() => Delete(@context.Id))">@_localizer["Delete"]</MudMenuItem>
                            }
                    </MudMenu>
                }
                else
                {
                    <MudButton Variant="MudBlazor.Variant.Filled"
                               DisableElevation="true"
                               StartIcon="@Icons.Material.Filled.DoNotTouch"
                               IconColor="Color.Secondary"
                               Size="Size.Small"
                               Color="Color.Surface">
                        @_localizer["No Allowed Actions"]
                    </MudButton>
                }
            </MudTd>
        </RowTemplate>
        <FooterContent>
        </FooterContent>
        <PagerContent>
            <TablePager />
        </PagerContent>
    </MudTable>
}