@using System.Globalization
@using ArdaManager.Client.Pages.Communication;

@inject Microsoft.Extensions.Localization.IStringLocalizer<Chat> _localizer



<MudDrawerHeader>
    <MudText Typo="Typo.h6">Mesajlarım</MudText>
    <MudButton OnClick="LoadUserChat" ButtonType="MudBlazor.ButtonType.Button">chats</MudButton>
</MudDrawerHeader>

@foreach (var message in _messages)
{
    <div class="d-flex flex-row my-4">
        <div class="mr-4">
            @if (string.IsNullOrEmpty(message.FromUserImageURL))
            {
                <MudAvatar Color="Color.Secondary" Style="height:50px; width:50px;">@message.FromUserFullName.ToUpper().FirstOrDefault()</MudAvatar>
            }
            else
            {
                <MudAvatar Image="@message.FromUserImageURL" Style="height:50px; width:50px;"> </MudAvatar>
            }
        </div>
        <div>
            <MudText Typo="Typo.body1">@message.FromUserFullName</MudText>
            <MudText Typo="Typo.caption" Style="font-size: xx-small!important;">@message.CreatedDate.ToString("G", CultureInfo.CurrentCulture)</MudText>
            <MudText Typo="Typo.body2" Style=" padding: 15px;background-color: var(--mud-palette-background-grey);border-radius: 5px;margin-top:5px">@message.Message</MudText>
        </div>
    </div>
}
@code {

}
